a {
  text-decoration: none;
  color: #313F47;
}

h1, h2, p {
  margin: 0;
}

body {
  margin: 0;
  font: 16px/22px 'Open Sans', sans-serif;
  color: #313F47;
}

img {
  width: 100%;
  display: block;
}

h1, h2 {
  font: 36px/42px 'Raleway', sans-serif;
  padding-bottom: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-bottom: 8px;
}

.projects-link {
  position: absolute;
  top: 16px;
  left: 16px;
}

.contact-link {
  position: absolute;
  top: 16px;
  right: 16px;
}

.active {
  text-decoration: underline;
}

.w-75 {
  width: 75%;
  margin: 0 auto;
}

[data-sal] {
  transform: scale(1.1);
  transition: all 1750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media (min-width: 768px) {
  nav {
    top: 32px;
  }

  nav a {
    padding: 0 32px;
  }

  body {
    font-size: 18px;
    line-height: 25px;
  }

  h1, h2 {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 16px;
  }

  .w-75 {
    width: 100%;
  }

  .break {
    display: none;
  }
}